.container{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
}

.vertical2-wrapper{
    list-style: none;
    width: 60%;
    height: 90%
}


.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    color: black;
    font-weight: bold;  
}


.header-wrapper{
    width: 50%;
    margin-right: 2rem;
    justify-content: center;
    overflow-x: auto;
}

@media (max-width: 720px){ 

.vertical2-wrapper{
    list-style: none;
    width: 80%;
    height: 90%
}

}

@media (max-width: 480px){
    .vertical2-wrapper{
        list-style: none;
        width: 90%;
        height: 90%
    }
}